<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.basicInfo.mapper.GoodStypeMapper" >
  <resultMap id="BaseResultMap" type="com.zking.basicInfo.model.GoodStype" >
    <constructor >
      <idArg column="uuid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    uuid, name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from goodstype
    where uuid = #{uuid}
  </select>
    <select id="queryGoodStypePage" resultType="com.zking.basicInfo.model.GoodStype">
      select <include refid="Base_Column_List"/>
      from goodstype where 1=1
    <if test="null!=name and ''!=name">
      and name like CONCAT(CONCAT('%',#{name}),'%')
    </if>
      order by uuid desc
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from goodstype
    where uuid = #{uuid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zking.basicInfo.model.GoodStype" >
    insert into goodstype (name)
    values ( #{name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zking.basicInfo.model.GoodStype" >
    insert into goodstype
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="name != null" >
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zking.basicInfo.model.GoodStype" >
    update goodstype
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zking.basicInfo.model.GoodStype" >
    update goodstype
    set name = #{name,jdbcType=VARCHAR}
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
</mapper>