<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.basicInfo.mapper.SupplierMapper" >
  <resultMap id="BaseResultMap" type="com.zking.basicInfo.model.Supplier" >
    <constructor >
      <idArg column="uuid" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="address" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="contact" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="tele" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="email" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="type" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="createdate" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    uuid, name, address, contact, tele, email, type,createdate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from supplier
    where uuid = #{uuid,jdbcType=VARCHAR}
  </select>
    <select id="querySupplierPage" resultType="com.zking.basicInfo.model.Supplier"
            parameterType="com.zking.basicInfo.model.Supplier">
      select <include refid="Base_Column_List"/> from supplier where 1=1
      <if test="name!=null and ''!=name" >
        and name like concat(concat('%',#{name}),'%')
      </if>
      <if test="address!=null and ''!=address" >
        and address like concat(concat('%',#{address}),'%')
      </if>
      <if test="contact!=null and ''!=contact" >
        and contact like concat(concat('%',#{contact}),'%')
      </if>
      <if test="tele!=null and ''!=tele" >
        and tele like concat(concat('%',#{tele}),'%')
      </if>
      <if test="email!=null and ''!=email" >
        and email like concat(concat('%',#{email}),'%')
      </if>
      and type = #{type}
      order by createdate DESC
    </select>
    <select id="queryByname" resultType="com.zking.basicInfo.model.Supplier">
      select <include refid="Base_Column_List"/> from supplier where 1=1 and type = '客户'
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from supplier
    where uuid = #{uuid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zking.basicInfo.model.Supplier" >
    insert into supplier (uuid, name, address, 
      contact, tele, email, 
      type,createdate)
    values (#{uuid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{contact,jdbcType=VARCHAR}, #{tele,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR},#{createdate})
  </insert>
  <insert id="insertSelective" parameterType="com.zking.basicInfo.model.Supplier" >
    insert into supplier
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="contact != null" >
        contact,
      </if>
      <if test="tele != null" >
        tele,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="createdate != null" >
        createdate,
      </if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="contact != null" >
        #{contact,jdbcType=VARCHAR},
      </if>
      <if test="tele != null" >
        #{tele,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zking.basicInfo.model.Supplier" >
    update supplier
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="contact != null" >
        contact = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="tele != null" >
        tele = #{tele,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
    </set>
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zking.basicInfo.model.Supplier" >
    update supplier
    set name = #{name,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      contact = #{contact,jdbcType=VARCHAR},
      tele = #{tele,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR}
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
</mapper>